ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

a:hover {
  text-decoration: none;
}

.list-sidebar li a {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0.625rem 2rem;
  color: #817f7e;
  font-weight: 500;
  position: relative;
  font-size: 0.875rem;
  font-family: "Noto Sans";
  height: 2.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  text-decoration: none;
}

.sidebar {
  width: 16rem;
  height: 100vh;
  overflow: auto;
  border-right: 0.0625rem solid #eae9e9;
  padding: 2rem 0px;
  position: absolute;
  left: 0;
  background: #ffffff;
  padding-top: 5.5rem;
}

.list-sidebar li {
  list-style-type: none;
}

.list-sidebar {
  padding: 0;
}

.list-sidebar li a.active, .list-sidebar li a:hover {
  color: #f48220;
}

.list-sidebar li a.active:before, .list-sidebar li a:hover:before {
  background: #f48220;
}

.list-sidebar li a:hover:before {
  display: none;
}

.list-sidebar-icon {
  margin-right: 0.5rem;
}

.list-sidebar-link {
  height: 2.5rem;
}

.list-sidebar-link .list-sidebar-icon {
  filter: invert(50%) sepia(5%) saturate(124%) hue-rotate(335deg) brightness(98%) contrast(85%);
}

.list-sidebar-link:hover .list-sidebar-icon, .list-sidebar-link.active .list-sidebar-icon {
  filter: invert(53%) sepia(72%) saturate(537%) hue-rotate(344deg) brightness(95%) contrast(103%);
}

.list-sidebar-link.active:hover::before {
  display: block;
}

.list-sidebar-link.active:before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 0.25rem;
  background: #0000;
  left: 0;
  top: 0;
  border-radius: 0px 0.625rem 0.625rem 0px;
}

@media (max-width: 768px) {
  .list-sidebar li a {
    font-size: 0;
    padding: 0.625rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 3.125rem;
    z-index: 9;
  }
}

@media (max-width: 768px) {
  .list-sidebar {
    margin-bottom: 0;
  }
}

